<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div>
    <h1 class="inline-block">Student Details</h1>
    <a class="inline-block" [routerLink]="['../../edit', 1]"><i class="fa fa-edit"></i></a>
</div>

<div>
    <b class="inline-block">Id: </b>
    <p class="inline-block">{{ student.id }}</p>
</div>

<div>
    <b class="inline-block">Name: </b>
    <p class="inline-block">{{ student.name }}</p>
</div>

<div>
    <b class="inline-block">Sex: </b>
    <p class="inline-block">{{ student.sex }}</p>
</div>

<div>
    <b class="inline-block">Age: </b>
    <p class="inline-block">{{ student.age }}</p>
</div>

<div>
    <b class="inline-block">Department: </b>
    <p class="inline-block">{{ student.department }}</p>
</div>

<div>
    <b class="inline-block">Address: </b>
    <p class="inline-block">{{ student.address }}</p>
</div>

<div>
    <b class="inline-block">BloodGroup: </b>
    <p class="inline-block">{{ student.bloodGroup }}</p>
</div>

<div>
    <b class="inline-block">Image: </b>
    <p class="inline-block">{{ student.image }}</p>
</div>